* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(67, 67, 68);
    padding: 20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: italic;
}

.topbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 17px;
    float: left;
    padding: 14px 16px;
    text-align: center;
    color: #ffff;
    text-decoration: none;
    background-color: rgb(49, 48, 48);
    overflow: hidden;
        
}

.topbar a.p1 {
    float: right;
    font-size: 20px;
    color: rgb(0, 0, 0);

}


.topbar a.p2 {
    float: right;
    font-size: 20px;
    color: rgb(0, 0, 0);

}

.reflexao {
    font-family: sans-serif;
    color: rgb(150, 144, 137);
    font-size: 22px;
    font-style: italic;
    padding: 20px;
}

li {
    padding: 10px;
}

.home {
    padding: 20px;
}

ul {
    padding: 20px;
}

p {
    font-family: sans-serif;
    color: rgb(1, 6, 75);
    font-size: 22px;
    font-style: italic;
}

.frase {
    font-family: sans-serif;
    color: white;
    font-size: 15   px;
    font-style: italic;
}

#footer_copyright {
    background-color: rgb(20, 20, 20);
    justify-content: center;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-weight: 100;
}

ol {
    font-family: sans-serif;
    color: hwb(hue white black);
    font-size: 15px;
}