title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.ordem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.naordem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}